:root {
  --navbar-active-color: #E76F51;
  --navbar-hover-color: #2A9D8F;
  --navbar-default-color: #264653;
  --color1: #264653;
  --color2: #2A9D8F;
  --color3: #E9C46A;
  --color4: #F4A261;
  --color5: #E76F51;
}

h1 {
  font-family: 'Vollkorn SC';
  overflow: hidden;
  text-align: center;
}

h1:before, h1:after {
  background-color: var(--color1);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

h1:before {
  right: 0.5em;
  margin-left: -50%;
}

h1:after {
  left: 0.5em;
  margin-right: -50%;
}

body {
  font-family: 'Comfortaa';
  min-height: 100vh;
}

h2 {
  font-family: 'Vollkorn';
  color: #2A9D8F;
}

.btn {
  background: rgb(244,162,97);
  background: linear-gradient(90deg, rgba(244,162,97,1) 0%, rgba(231,111,81,1) 100%);
  border-radius: 20px;
  font-size: medium;
  align-items: center;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  color: var(--bs-black);
}

main {
  padding: 1rem;
  flex-grow: 1;
}

.border-bottom {
  border-width: 2px!important;
  border-bottom-style: solid;
  border-color: var(--color1)!important;
}

.img-me {
  /*width: 200px;*/
  /*background-image: url('../../assets/img/me.jpg');*/
  /*height: 300px;*/
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/
  /*background-position: center;*/
}

.nav-link.active {
  color: var(--navbar-active-color)!important;
}

.nav-link:focus, .nav-link:hover {
  color: var(--navbar-hover-color);
}

.nav-link {
  color: var(--navbar-default-color);
}

.img-wrapper {
  display: inline-block;
  position: relative;
  background: #ffffff;
  aspect-ratio: 1.2/1;
}

.img-text {
  background: rgba(0,0,0,0.3);
  color: #ffffff;
  font-family: 'Vollkorn';
  font-size: 36px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  text-align: center;
  transition: opacity 0.3s;
  opacity: 0;
}

.carousel-item img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.img-wrapper:hover .img-text {
  opacity: 1;
}

