h1 {
  font-family: 'Vollkorn SC';
}

body {
  font-family: 'Comfortaa';
  min-height: 100vh;
}

h2 {
  font-family: 'Vollkorn';
}

.btn {
  background: rgb(244,162,97);
  background: linear-gradient(90deg, rgba(244,162,97,1) 0%, rgba(231,111,81,1) 100%);
  border-radius: 20px;
}

main {
  padding: 1rem;
  flex-grow: 1;
}

.border-bottom {
  /*border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;*/
  border-width: 3px!important;
  border-color: rgb(108,117,125);
}

